@charset "UTF-8";
/* CSS Document */

#header {
	background-color: #e3e3e3;
	position: fixed;
	width: 80%;
	height: 200px;
	top: 0px;
	z-index: 20000;
}
#body {
	background-color: #D5D4D4;
	width: 80%;
	height: 1000px;
	position: absolute;
	top: 200px;
}

body {
	margin: 0 10%;
	background-color: #fffff;
}
