#header {
	height: 187px;
	width: 1064px;
}
#logo {
	background-color: #000000;
	float: left;
	height: 185px;
	width: 296px;
	background-image: url(Web%20site%20assets/logo_02.gif);
}
#headimage {
	height: 132px;
	width: 764px;
	float: left;
	margin-left: 4px;
	margin-top: 0px;
	background-image: url(Web%20site%20assets/headerImage_02.gif);
}
#mainnav {
	height: 49px;
	width: 764px;
	background-color: #000000;
	list-style: none;
	padding: 0;
	text-align: left;
	float: left;
	margin-left: 4px;
	margin-top: 4px;
}
 #mainnav a {
	display: inline-block;
	padding-top: 2px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	color: #ffffff;
	font-family: "Museo Slab 700","museo-slab";
	text-decoration: none;
	font-size: 20pt;
}
#mainnav  li {
	display: inline;
	text-transform: uppercase;
}
	
#mainnav ul {
	width: 764px;
	position: static;
	height: 40px;
	margin-top: 7px;
}


body {
	text-align: center;
	}
#wrapper { display: block; border: 1px #a2a2a2 solid; width:1064px;  margin:0px auto; }


	
#content { width: 75%; border: 2px #a2a2a2 solid; float: left; }
#sidebar { width: 23%; border: 2px #a2a2a2 solid; float: right; }
#delimiter { clear: both; }
#footer { border: 2px #a2a2a2 solid; }
.title {
	font-size: 30pt;
	font-weight: italic;
	
}
