@charset "UTF-8";
/* CSS Document */

.content {
	top: 196px;
}
#threePoints {
	background-color: #7EC9D2;
	height: 308px;
	width: 1135px;
}
#moreInfo {
	background-color: #F87720;
	height: 125px;
	width: 1135px;
	font-size: large;
}
#logos {
	background-color: #C9BEBE;
	height: 750px;
	width: 1135px;
}
.point {
	background-color: #58E4AF;
	height: 250px;
	width: 250px;
	float: left;
	margin-left: 97px;
}
