@charset "utf-8";
	.NavMenuAI
{
	background-image : url(NavMenuAI.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 212px;
	top : 86px;
	width : 291px;
	height : 19px;
}
.Logo
{
	background-image : url(Logo.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 17px;
	top : 4px;
	width : 145px;
	height : 93px;
}
.HeaderAI
{
	background : #231F20;
	background : rgba(35, 31, 32, 1);
	position : absolute ;
	left : 0px;
	top : 0px;
	width : 611px;
	height : 106px;
}
