@charset "UTF-8";
/* CSS Document */
#header {
	height: 129px;
	width: 89%;
	position: fixed;
	top: 0px;
	z-index: 20000;
	background-repeat: no-repeat;
	background-clip: border-box;
	background-origin: border-box;
	background-image: url(../Testing/images/header_1134_gif.gif);
	max-width: 1135px;
}
#logo {
	background-color: #000000;
	float: left;
	height: 123px;
	width: 197px;
}
#headimage {
	height: 87px;
	float: left;
	margin-left: 3px;
	margin-top: 0px;
	background-origin: border-box;
	margin-bottom: 3px;
	background-image: url(Web%20site%20assets/headerImage_02.gif);
	background-color: #AA09A2;
	width: 81.95%;
	position: absolute;
	left: 196px;
}
#textnav {
	height: 34px;
	width: 360px;
	list-style: none;
	text-align: left;
	float: left;
	background-color: #E6DA3D;
}
#textnav a {
	display: inline-block;
	color: #ffffff;
	font-family: "museo-slab";
	text-decoration: none;
	font-size: 15px;
	font-weight: 200;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 13px;
}
#textnav  li {
	display: inline;
}

#textnav ul {
	display: inline;
}
#iconnav {
	background-color: #31C6B1;
	height: 34px;
	width: 306px;
	float: right;
}
#nav {
	background-color: #EF3C3F;
	height: 35px;
	width: 81.95%;
	float: left;
	margin-left: 3px;
	position: absolute;
	left: 197px;
	top: 90px;
}
