@charset "UTF-8";
/* CSS Document */
#content { top:260px;
}

#imageNav {
	background-color: #4B97D2;
	position: fixed;
	z-index: 1000;
	height: 100px;
	width: 1135px;
	top: 146px;
}
#caption {
	background-color: #E353E7;
	width: 196px;
	float: left;
	position: relative;
}

#viewer {
	background-color: #F4A20B;
	height: 314px;
	width: 920px;
	left: 215px;
	position: relative;
}
