 As per word press 
img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.alignright {float:right; }
.alignleft {float:left; }
.aligncenter {display: block; margin-left: auto; margin-right: auto}


#header {
	height: 184px; 
	width: 1068px;
	position: fixed;
	top: 0px;
	z-index: 20000;
	background-color: #ffffff;
	padding-top: 2px;
}
#logo {
	background-color: #000000;
	float: left;
	height: 180px;
	width: 297px;
	background-image: url(Web%20site%20assets/logo_02.gif);
	border-bottom: 4px solid #626D2E;
}
#headimage {
	height: 132px;
	width: 765px;
	float: left;
	margin-left: 4px;
	margin-top: 0px;
	background-image: url(Web%20site%20assets/headerImage_02.gif);
	background-origin: border-box;
	margin-bottom: 4px;
}
#mainnav {
	height: 48px;
	width: 765px;
	list-style: none;
	text-align: left;
	float: left;
	background-color: #000000;
	border-bottom: 4px solid #931F24;
	border-right: 0px solid #FFFFFF;
	margin-left: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#mainnav a {
	display: inline-block;
	color: #ffffff;
	font-family: "museo-slab";
	text-decoration: none;
	font-size: 20px;
	font-weight: 200;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 13px;
}
#mainnav  li {
	display: inline;
}
	

#wrapper {
	display: block;
	width: 1064px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 196px;
}

#main { width:1064px top:188px; margin:0px auto;}
	
#content {
	width: 79%;
	float: left;
	top: 0px;
	display: inherit;
}

.content-image {
	width: 297px;
	margin-top: 0px;
	overflow-x: hidden;
	min-height: 11px;
	float: left;
	margin-bottom: 50px;
	position: relative;
	top: 17px;
}

.content-text {
	width: 526px;
	margin-left: 4px;
	float: left;
	font-family: "museo-slab";
	font-weight: 300;
	font-size: 11pt;
	margin-top: 0px;
	margin-bottom: 52px;
}



#sidebar {
	width: 210px;
	float: right;
	left: 905px;
	position: fixed;
}
#sidebar h2 {
	color: #5F6A2E;
	font-family: "jaf-bernino-sans-condensed";
	font-weight: 700;
	font-size: 14pt;
	text-align: left;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	margin-top: 14px;
	margin-right: 0px;
	margin-bottom: -13px;
	margin-left: 41px;
}
#delimiter { clear: both; }
#footer { border: 2px #a2a2a2 solid; }
.title {
	font-size: 30pt;
	font-weight: italic;
}
#mainnav ul {
	display: inline;
}

body {
	margin-left: 50px;
}
#sidebar ul {
	list-style-type: none;
	position: relative;
	display: block;
	margin-bottom: 46px;
}
#sidebar li {
	text-align: left;
	margin-top: 0px;
	font-size: medium;
	margin-bottom: 6px;
}
#sidebar a {
	font-family: "jaf-bernino-sans-condensed";
	color: #26336C;
	font-weight: 400;
	font-size: 11pt;
	letter-spacing: 0.03em;
	text-transform: capitalize;
	text-decoration: none;
}
.content-image img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -8px;
}
.content-text h1 {
	color: #931F24;
	font-family: "jaf-bernino-sans-condensed";
	font-weight: 700;
	line-height: 26pt;
	display: block;
	font-size: 26px;
}
