
/* included style sheets */
@include "./CSS/header.css"

/* as per wordpress */
img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.alignright {float:right; }
.alignleft {float:left; }
.aligncenter {display: block; margin-left: auto; margin-right: auto}


#wrapper {
	display: block;
	width: 1064px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 196px;
}

#main { width:1064px top:188px; margin:0px auto;}
	
#content {
	width: 79%;
	float: left;
	top: 0px;
	display: inherit;
}

.content-text {
	width: 526px;
	margin-left: 4px;
	float: left;
	font-family: "museo-slab";
	font-weight: 300;
	font-size: 11pt;
	margin-top: 0px;
	margin-bottom: 52px;
}

.content-image {
	width: 297px;
	margin-top: 0px;
	overflow-x: hidden;
	min-height: 11px;
	float: left;
	margin-bottom: 50px;
	position: relative;
	top: 17px;
}
.content-image img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -8px;
}
.content-text h1 {
	color: #931F24;
	font-family: "jaf-bernino-sans-condensed";
	font-weight: 700;
	line-height: 26pt;
	display: block;
	font-size: 26px;
}



#sidebar {
	width: 210px;
	float: right;
	left: 905px;
	position: fixed;
}
#sidebar h2 {
	color: #5F6A2E;
	font-family: "jaf-bernino-sans-condensed";
	font-weight: 700;
	font-size: 14pt;
	text-align: left;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	margin-top: 14px;
	margin-right: 0px;
	margin-bottom: -13px;
	margin-left: 41px;
}

body {
	margin-left: 50px;
}
#sidebar ul {
	list-style-type: none;
	position: relative;
	display: block;
	margin-bottom: 46px;
}
#sidebar li {
	text-align: left;
	margin-top: 0px;
	font-size: medium;
	margin-bottom: 6px;
}
#sidebar a {
	font-family: "jaf-bernino-sans-condensed";
	color: #26336C;
	font-weight: 400;
	font-size: 11pt;
	letter-spacing: 0.03em;
	text-transform: capitalize;
	text-decoration: none;
}

#delimiter { clear: both; }
#footer { border: 2px #a2a2a2 solid; }
.title {
	font-size: 30pt;
	font-weight: italic;
}

